<%= render partial:"shared/nav"%>

<div class="contact-form">
  <h1>Contact Us!</h1>
      <%= form_tag request_contact_path, method: 'post' do %>
      <%= label_tag 'Name:' %><br>
      <%= text_field_tag :name, '', size: 45 %><br>
      <%= label_tag 'Email:' %><br>
      <%= email_field_tag :email, '', size: 45 %><br>
      <%= label_tag 'Telephone:' %><br>
      <%= telephone_field_tag :telephone, '', size: 45 %><br>
      <%= label_tag 'What would you like to ask us about?' %><br>
      <%= text_area_tag :message, '', size: "45x5" %><br>
      <%= submit_tag 'Submit', class: "btn btn-primary", width: "200px"%><br>
      <% end %>
      <% flash.each do |key, value| %>
      <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
      <% end %>
</div>
