<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @room.type %>
</p>

<p>
  <strong>Number total:</strong>
  <%= @room.number_total %>
</p>

<p>
  <strong>Number avaliable:</strong>
  <%= @room.number_avaliable %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
